[Unit]
Description=rclone-to-kobo.service restarter
After=network.target
StartLimitIntervalSec=10
StartLimitBurst=5

[Service]
Type=oneshot
ExecStart=/usr/bin/systemctl restart rclone-to-kobo.service

[Install]
WantedBy=multi-user.target
