[Unit]
Description=Run rclone to copy files from workingdirectory when files are added to that directory
After=network.target

[Service]
Type=simple
WorkingDirectory=/home/gigi/Sync/Kobo
ExecStart=/home/gigi/Documents/Workstation_Config/systemd_config/watch_files/rclone-to-kobo.sh

[Install]
WantedBy=multi-user.target
